<div class="containner">
  <!-- <h1>I'm the AppComponent!!!</h1>
  <hr /> -->
  <button (click)="showSecretPassword()" class="btn btn-primary">
    Display details
  </button>
  <p *ngIf="showPassword">Secret password = tuna</p>
  <p
    [ngStyle]="{ backgroundColor: num >= 5 ? 'blue' : 'transparent' }"
    [ngClass]="{'white-text': num >= 5}"
    *ngFor="let num of clicks"
  >
    {{ num }}
  </p>
  <!-- <label>Username</label>
  <input type="text" class="form-control" [(ngModel)]="username" />
  <p>{{ username }}</p>
  <button
    (click)="username = ''"
    class="btn btn-primary"
    [disabled]="username === ''"
  >
    Reset Username
  </button> -->
  <!-- <app-servers></app-servers> -->
</div>
